Repository zkMeLabs/mechain, pull requests merged in 2024-12, with the labels that each got.

#199 feat: add solidity/verify.js for blockscout generate abi and sol file
  Makefile
  solidity/.gitignore
  solidity/contracts/common/Types.sol
  solidity/contracts/storage/IStorage.sol
  solidity/contracts/virtualgroup/Types.sol
  solidity/verify.js
Labels: build

#200 fix: put policy precompile param bug
  x/evm/precompiles/storage/tx.go
Labels: bug, area.chain

#208 feat: add id in set tag event
  proto/mechain/storage/events.proto
  x/storage/keeper/keeper.go
  x/storage/types/events.pb.go
Labels: area.chain, proto
