Repository zkMeLabs/mechain, pull requests merged in 2024-10, with the labels that each got.

#176 feat(precompile): add authz and gov module precompile contract
  .gitignore
  app/app.go
  deployment/localup/join.js
  solidity/contracts/authz/IAuthz.sol
  solidity/contracts/gov/IGov.sol
  types/contract.go
  utils/utils.go
  x/evm/precompiles/authz/IAuthz.go
  x/evm/precompiles/authz/contract.go
  x/evm/precompiles/authz/query.go
  x/evm/precompiles/authz/tx.go
  x/evm/precompiles/authz/types.go
  x/evm/precompiles/compile.sh
  x/evm/precompiles/gov/IGov.go
  x/evm/precompiles/gov/contract.go
  x/evm/precompiles/gov/query.go
  x/evm/precompiles/gov/tx.go
  x/evm/precompiles/gov/types.go
  x/evm/types/errors.go
Labels: types

#177 feat: add precompile apis for storage-provider
  app/app.go
  solidity/contracts/common/Types.sol
  solidity/contracts/storage/IStorage.sol
  solidity/contracts/storageprovider/IStorageProvider.sol
  solidity/contracts/virtualgroup/IVirtualGroup.sol
  types/contract.go
  x/evm/precompiles/compile.sh
  x/evm/precompiles/storage/IStorage.go
  x/evm/precompiles/storage/tx.go
  x/evm/precompiles/storage/types.go
  x/evm/precompiles/storageprovider/IStorageProvider.go
  x/evm/precompiles/storageprovider/contract.go
  x/evm/precompiles/storageprovider/tx.go
  x/evm/precompiles/storageprovider/types.go
  x/evm/precompiles/virtualgroup/IVirtualGroup.go
  x/evm/precompiles/virtualgroup/contract.go
  x/evm/precompiles/virtualgroup/tx.go
  x/evm/precompiles/virtualgroup/types.go
Labels: area.chain, types

#178 feat: update testnet config
  asset/configs/testnet_config/app.toml
  asset/configs/testnet_config/config.toml
  asset/configs/testnet_config/genesis.json
  scripts/check_testnet_config.sh
Labels: area.chain, build, feature

#180 feat: update docker config
  cmd/ci/main.go
  deployment/dockerup/.env
  deployment/dockerup/backup.sh
  deployment/dockerup/localup.sh
  deployment/localup/localup.sh
  docker-compose.yml
Labels: build, feature

#184 feat: mechaind tx storage cosmos-tx is changed to evm-tx
  x/storage/client/cli/flags.go
  x/storage/client/cli/session.go
  x/storage/client/cli/tx.go
Labels: area.chain, CLI
