Repository zkMeLabs/mechain, pull requests merged in 2024-09, with the labels that each got.

#164 CICD: Support cicd workflow
  .github/workflows/cicd-devint.yaml
  Dockerfile
  Makefile
  deployment/devint/.env
  deployment/devint/README.md
  deployment/devint/config.default.json
  deployment/devint/create_sp.json
  deployment/devint/create_validator_proposal.json
  deployment/devint/dev.js
  deployment/devint/localup.sh
  deployment/devint/package-lock.json
  deployment/devint/package.json
  deployment/devint/utils.sh
Labels: build, CI

#166 feat: upgrade docker deploy
  .gitignore
  deployment/dockerup/localup.sh
Labels: build, feature

#167 feat: clean validator data
  deployment/dockerup/localup.sh
Labels: area.chain

#169 feat: decrease sp num for test
  deployment/localup/localup.sh
Labels: area.chain, feature

#170 feat: use bn254 instead of bls12-381 for universality
  app/ante/evm/utils_test.go
  client/testnet.go
  cmd/mechaind/cmd/testnet.go
  e2e/core/basesuite.go
  e2e/core/utils.go
  e2e/tests/challenge_test.go
  e2e/tests/payment_test.go
  e2e/tests/storage_bill_test.go
  e2e/tests/storage_rate_limit_test.go
  e2e/tests/storage_test.go
  e2e/tests/virtualgroup_test.go
  go.mod
  go.sum
  sdk/keys/key_manager_test.go
  testutil/network/network.go
  testutil/sample/sample.go
  types/verifier.go
  x/challenge/keeper/bls_signed_msg.go
  x/challenge/keeper/msg_server_attest_test.go
  x/erc20/keeper/utils_test.go
  x/evm/handler_test.go
  x/evm/keeper/setup_test.go
  x/feemarket/keeper/utils_test.go
  x/ibc/transfer/keeper/keeper_test.go
  x/sp/keeper/msg_server.go
  x/sp/types/message.go
  x/storage/keeper/virtualgroup.go
  x/storage/types/message_object_test.go
Labels: area.chain, types, CLI, tests

#173 ci: add relase action
  .github/workflows/build.yml
  .github/workflows/dependencies.yml
  .github/workflows/e2e-test-release.yml
  .github/workflows/e2e-test.yml
  .github/workflows/generate_change_log.sh
  .github/workflows/goreleaser.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  asset/configs/mainnet_config/app.toml
  asset/configs/mainnet_config/client.toml
  asset/configs/mainnet_config/config.toml
  asset/configs/mainnet_config/genesis.json
  asset/configs/testnet_config/app.toml
  asset/configs/testnet_config/client.toml
  asset/configs/testnet_config/config.toml
  asset/configs/testnet_config/genesis.json
Labels: area.chain, CI

#174 feat: dynamic add in docker deploy
  .gitignore
  asset/configs/testnet_config/app.toml
  asset/configs/testnet_config/client.toml
  asset/configs/testnet_config/config.toml
  asset/configs/testnet_config/genesis.json
  cmd/ci/main.go
  deployment/dockerup/.env
  deployment/dockerup/create_validator_proposal.json
  deployment/dockerup/create_validator_proposal.sh
  deployment/dockerup/localup.sh
  deployment/dockerup/start-validator.sh
  deployment/localup/create_validator_proposal.json
  docker-compose.yml
Labels: build, feature

#175 feat: dynamic add validator in devint
  .gitignore
  deployment/dockerup/localup.sh
  scripts/.env
  scripts/create_validator_proposal.json
  scripts/create_validator_proposal.sh
  scripts/vote.sh
Labels: area.chain, build, feature
