Repository zkMeLabs/mechain, pull requests merged in 2024-11, with the labels that each got.

#190 feat: sp precompile
  go.mod
  go.sum
  sdk/client/mechaind_client.go
  server/flags/flags.go
  solidity/contracts/storageprovider/IStorageProvider.sol
  x/evm/precompiles/storageprovider/IStorageProvider.go
  x/evm/precompiles/storageprovider/query.go
  x/evm/precompiles/storageprovider/types.go
  x/sp/client/cli/query.go
  x/sp/client/cli/query_evm.go
  x/sp/client/cli/session.go
  x/storage/client/cli/tx.go
Labels: CLI, feature

#191 feat: precompile storage
  .gitignore
  .vscode/launch.json
  package-lock.json
  solidity/contracts/storage/IStorage.sol
  x/evm/precompiles/storage/IStorage.go
  x/evm/precompiles/storage/object_tx.go
  x/evm/precompiles/storage/tx.go
  x/evm/precompiles/storage/types.go
  x/sp/client/cli/query_evm.go
  x/storage/client/cli/query.go
  x/storage/client/cli/query_evm.go
Labels: CLI, feature

#193 feat: mechaind tx storage cosmos-tx is changed to evm-tx (part2 after #184)
  app/app.go
  sdk/client/session.go
  sdk/types/types.go
  solidity/contracts/payment/IPayment.sol
  solidity/contracts/permission/IPermission.sol
  solidity/contracts/storage/IStorage.sol
  solidity/contracts/storageprovider/IStorageProvider.sol
  types/contract.go
  x/evm/precompiles/compile.sh
  x/evm/precompiles/payment/IPayment.go
  x/evm/precompiles/payment/contract.go
  x/evm/precompiles/payment/query.go
  x/evm/precompiles/payment/tx.go
  x/evm/precompiles/payment/types.go
  x/evm/precompiles/permission/IPermission.go
  x/evm/precompiles/permission/contract.go
  x/evm/precompiles/permission/query.go
  x/evm/precompiles/permission/tx.go
  x/evm/precompiles/permission/types.go
  x/evm/precompiles/storage/IStorage.go
  x/evm/precompiles/storage/object_tx.go
  x/evm/precompiles/storage/query.go
  x/evm/precompiles/storage/tx.go
  x/evm/precompiles/storage/types.go
  x/evm/precompiles/storageprovider/IStorageProvider.go
  x/payment/client/cli/query.go
  x/payment/client/cli/query_auto_settle_record.go
  x/payment/client/cli/query_dynamic_balance.go
  x/payment/client/cli/query_get_payment_accounts_by_owner.go
  x/payment/client/cli/query_params.go
  x/payment/client/cli/query_payment_account.go
  x/payment/client/cli/query_payment_account_count.go
  x/payment/client/cli/query_stream_record.go
  x/payment/client/cli/tx.go
  x/payment/client/cli/tx_create_payment_account.go
  x/payment/client/cli/tx_deposit.go
  x/payment/client/cli/tx_disable_refund.go
  x/payment/client/cli/tx_withdraw.go
  x/permission/client/cli/query_params.go
  x/storage/client/cli/query.go
  x/storage/client/cli/query_evm.go
  x/storage/client/cli/query_params.go
  x/storage/client/cli/session.go
  x/storage/client/cli/tx.go
  x/storage/client/cli/tx_cancel_migrate_bucket.go
  x/storage/client/cli/tx_set_bucket_flow_rate_limit.go
Labels: types, CLI

#195 feat: add testnet test script
  .gitignore
  deployment/testnet/create_validator_proposal.sh
  deployment/testnet/gen_validator_proposal.sh
  deployment/testnet/get_propose_id.sh
  deployment/testnet/import_validator_privatekey.sh
  deployment/testnet/proposal_status.sh
  deployment/testnet/query_tx.sh
  deployment/testnet/show_validator.sh
  deployment/testnet/token.sh
  deployment/testnet/vote.sh
Labels: area.chain

#196 feat: replace 0x00000Be6819f41400225702D32d3dd23663Dd690
  .vscode/settings.json
  asset/configs/mainnet_config/genesis.json
  contracts/erc721NonTransferable.go
  deployment/dockerup/config.default.json
  deployment/dockerup/config.json
  deployment/dockerup/localup.sh
  deployment/localup/config.default.json
  deployment/localup/config.json
  deployment/localup/localup.sh
Labels: area.chain, feature, contracts
