Repository zkMeLabs/mechain, pull requests merged in 2024-08, with the labels that each got.

#157 feat: add crosschain relayer for zkmesbt
  app/app.go
  x/storage/keeper/cross_app.go
  x/storage/keeper/cross_app_zkmesbt.go
  x/storage/types/crosschain.go
Labels: area.chain

#158 feat: add deleteBucket for storage module precompile
  solidity/contracts/storage/IStorage.sol
  x/evm/precompiles/storage/IStorage.go
  x/evm/precompiles/storage/tx.go
  x/evm/precompiles/storage/types.go
Labels: area.chain

#159 feat(storage): add system contract for bucket NFT & group NFT
  contracts/erc721NonTransferable.go
  x/evm/genesis.go
  x/evm/precompiles/storage/tx.go
  x/storage/keeper/keeper.go
Labels: area.chain, contracts

#160 Athas/relay new chain
  app/app.go
  deployment/devnetup/.env
  deployment/devnetup/localup.sh
  deployment/localup/.env
  deployment/localup/localup.sh
  go.mod
  go.sum
  proto/greenfield/storage/common.proto
  proto/greenfield/storage/params.proto
  server/config/config.go
  server/config/toml.go
  solidity/contracts/storage/IStorage.sol
  x/storage/keeper/cross_app_group.go
  x/storage/keeper/cross_app_group_test.go
  x/storage/keeper/cross_app_object.go
  x/storage/keeper/cross_app_object_test.go
  x/storage/keeper/keeper.go
  x/storage/keeper/params.go
  x/storage/types/common.pb.go
  x/storage/types/crosschain.go
  x/storage/types/expected_keepers.go
  x/storage/types/params.go
  x/storage/types/params.pb.go
Labels: area.chain, proto, tests

#163 Feat/full node
  .golangci.yml
  .husky/pre-push
  deployment/devnetup/localup.sh
  deployment/localup/localup.sh
Labels: bug, area.chain, CI, feature
